<main id="file-page">
  <div id="file-content">
      <ul>
        <li id="file-name">Name: {{name}}</li>
        <li id="file-path">Path: {{path}}</li>
        <li id="file-sha">sha: {{sha}}</li>
        <li id="file-size">size: {{size}}</li>
        <li id="file-url">url: {{download_url}}</li>
        <li id="file-type">type: {{type}}</li>
        <li id="file-content">content: {{content}}</li>
      <ul>
    </div>
</main>
